.header h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: rgb(34, 18, 185);
}
.title {
    margin-left: 320px;
    font-size: 35px;
}
.imageTest {
    position: fixed;
    right: 350px;
    text-align: justify;
    width: 200px;
    display: block;
    margin: 0 auto;
}
.description {
    font-size: 30px;
    margin-left: 0px;
    margin-right: 800px;
    text-align: center;
}
.blocktext {
    text-align: left
}
.footer {
    position: absolute;
    top: 800px;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: rgb(34, 18, 185);
    }
